* text=auto
*.php diff=php
*.md diff=md

/.github export-ignore
/docs export-ignore
/tests export-ignore

.changelog export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore

composer.lock export-ignore
cs-fixer.php export-ignore
phpunit.xml export-ignore

CHANGELOG.md export-ignore
